@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #18322e;
    margin: 0;
    font-size: 28px;
    font-family: Rubik;
    color: white;
}


.header{
  padding: 2%;
  text-align: center;
  color: white;
}

#fact{
  text-align: center;
}

::selection {
  color: #0c201c;
  background: #e8b3ba;
}

.backgroundVideo {
  position: absolute; /* Ensures it can stretch to cover the page */
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  object-fit: cover; /* Ensures the video scales to cover the area without distortion */
  filter: brightness(25%);
  z-index: -1; 
}
