@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #18322e;
    margin: 0;
    font-size: 3vh;
    font-family: Rubik;
    color: white;
}

.header{
  padding: 2%;
  text-align: center;
  color: white;
}

#fact{
  text-align: center;
}


#welcome-text{
  font-size: 8vw;
  font-weight: bold;
  color: #f2f2f2;
}

#opg-text {
  -webkit-text-stroke: 3px white;
  font-weight: bold;
  font-size: 15vw;
}

.transparent-text{
  color: transparent; /* Makes the inside of the text transparent */
}

::selection {
  color: #0c201c;
  background: #e8b3ba;
}

footer{
  bottom: 0;
}

.backgroundVideo {
  position: fixed; /* Keeps video in the same position */
  top: 0;
  left: 0;
  width: 100%; /* Ensures the video spans the full width */
  height: 100%; /* Ensures the video spans the full height */
  object-fit: cover; /* Ensures the video covers the entire area */
  filter: brightness(25%);
  z-index: -1;
}

@media (max-width: 768px) {
  body{
    font-size: 2.5vh;
  }
}

@media (max-width: 480px) {
  body{
    font-size: 1.5vh;
  }
}