@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #18322e;
    margin: 0;
    font-size: 28px;
    font-family: Rubik;
    color: white;
}

.header{
  padding: 2%;
  text-align: center;
  color: white;
}

#fact{
  text-align: center;
}


#welcome-text{
  font-size: 6rem;
  font-weight: bold;
  color: #f2f2f2;
}

#opg-text {
  -webkit-text-stroke: 3px white;
  font-weight: bold;
  font-size: 11rem;
}

.transparent-text{
  color: transparent; /* Makes the inside of the text transparent */
  -webkit-text-stroke: 1px white; /* Creates a white border around the text */

}

::selection {
  color: #0c201c;
  background: #e8b3ba;
}

.backgroundVideo {
  position: fixed; /* stay in position while page content is scorlling */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* stretch video to fit whole page */
  filter: brightness(25%);
  z-index: -1;
}
